<!DOCTYPE html>
<html lange="es"
xmins:th=http://www.thymeleaf.org>
 <head>
	    <title>Proyecto Prestamo></title>
	    <meta charset="utf-8">
	    <meta name="keywords" content="prestamos,dinero,pesos,sistemas de amortizacion,frances,aleman,UVA'S,creditos,cuotas,saldos,financiero,bancario">
	    <meta name="description" content="Este es un sistema de creditos financieros a tasa fija o cuota UVA's">
	    <meta name="author" content="Verdaguer Maria">
	    <meta name="robots" content="index">

    </head>
<body>
        <header>
        	<nav>
        		<ul>
        			<li><a href="index.html">Index</a>
        			<li><a href="micuenta.html">Mi cuenta</a>
        			<li><a href="registrarse.html">Registrarse</a>
        			<li><a href="nosotros.html">sobre nosotros</a>
        				
        			</li>
        		</ul>
        	</nav>
        	 <h1>Si tiene una cuenta activada, le pedimos los datos de autentificacion de cliente.<h1/>
     		 <p>
       	 	 <body background="fondo.png">
           	 </p>
           	 
 	    	 <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Correo Electronico</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">El correo electronico no sera compartido.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">ver</label>
  </div>
  <button type="submit" class="MainController.java">Submit</button>
</form>
             </div>
             </header>
       
    </body>
</html>