<!DOCTYPE html>
<html>lange="es"
xmins:th=http://www.thymeleaf.org>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
        <header>
        	<nav>
        		<ul>
        			<li><a href="index.html">Index</a>
        			<li><a href="micuenta.html">Mi cuenta</a>
        			<li><a href="registrarse.html">Registrarse</a>
        			<li><a href="nosotros.html">sobre nosotros</a>
        				
        			</li>
        		</ul>
        	</nav>
        	<center>
        	 <h3><font color = white>Ingrese los datos requeridos para el prestamo</font><h3/>
        	 </center>
     		 <p>
       	 	 <body background="fondo.jpg">
           	 </p>
        	 <div>
 	    	 <form>
 	    	 <center>
 	    	 <font color = white>
  <div class="form-row">
    <div class="col">
     <label for="inputmonto">Monto</label>
      <input type="text" class="form-control" placeholder="monto">
  <div class="form-group col-md-6">
  <center>
      <label for="tasa">Tasa</label>
      <input type="text" class="form-control" id="tasa>
      </center>
    </div>
    <div class="form-group col-md-6">
    <center>
      <label for="fechadeprestamo">Fecha del prestamo</label>
      <input type="date" class="form-control" id="fechadeprestamo">
      </center>
       <center>
  <button type="submit" class="PrestamoController.java">Enviar</button>
  </center>
    </div>
    <center>
</html>