<!DOCTYPE html>
<html lange="es"
xmins:th=http://www.thymeleaf.org>
 <head>
	    <title>Proyecto Prestamo></title>
	    <meta charset="utf-8">
	    <meta name="keywords" content="prestamos,dinero,pesos,sistemas de amortizacion,frances,aleman,UVA'S,creditos,cuotas,saldos,financiero,bancario">
	    <meta name="description" content="Este es un sistema de creditos financieros a tasa fija o cuota UVA's">
	    <meta name="author" content="Verdaguer Maria">
	    <meta name="robots" content="index">

    </head>
<body>
        <header>
        	<nav>
        		<ul>
        			<li><a href="index.html">Index</a>
        			<li><a href="micuenta.html">Mi cuenta</a>
        			<li><a href="registrarse.html">Registrarse</a>
        			<li><a href="nosotros.html">sobre nosotros</a>
        				
        			</li>
        		</ul>
        	</nav>
        	<center>
        	 <h1><font color = white"> Para contactarnos, llene el siguiente formulario:</font><h1/>
        	 </center>
     		 <p>
       	 	 <body background="fondo.jpg">
           	 </p>
        	 <div>
 	    	 <form method="post">
 	    	 <center>
 	    	 	<input type="text" required="">
 	    	 	<input type="email" required="">
 	    		<input type="button" value="borrar">
 	    		<input type="submit">
 	    	</center>
 	    	 </form>
             </div>
             </header>
       
    </body>
</html>