<!DOCTYPE html>
<html lange="es"
xmins:th=http://www.thymeleaf.org>
 <head>
	    <title>Proyecto Prestamo></title>
	    <meta charset="utf-8">
	    <meta name="keywords" content="prestamos,dinero,pesos,sistemas de amortizacion,frances,aleman,UVA'S,creditos,cuotas,saldos,financiero,bancario">
	    <meta name="description" content="Este es un sistema de creditos financieros a tasa fija o cuota UVA's">
	    <meta name="author" content="Verdaguer Maria">
	    <meta name="robots" content="index">

    </head>
<body>
        <header>
        	<nav>
        		<ul>
        			<li><a href="index.html">Index</a>
        			<li><a href="micuenta.html">Mi cuenta</a>
        			<li><a href="registrarse.html">Registrarse</a>
        			<li><a href="nosotros.html">sobre nosotros</a>
        				
        			</li>
        		</ul>
        	</nav>
        	<center>
        	 <h3><font color = white>Por favor active su cuenta llenando los siguientes campos:</font><h3/>
        	 </center>
     		 <p>
       	 	 <body background="fondo.jpg">
           	 </p>
        	 <div>
 	    	 <form>
 	    	 <center>
 	    	 <font color = white>
  <div class="form-row">
    <div class="col">
     <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" name="nombre">
    </div>
    <div class="col">
     <label for="/apellido">Apellido</label>
      <input type="text" class="form-control" id="Apellido" name="apellido">
    </div>
  </div>
  <div class="form-group col-md-6">
  <center>
      <label for="dni">DNI</label>
      <input type="text" class="form-control" id="dni" name="dni" name="dni">
      </center>
    </div>
    <div class="form-group col-md-6">
    <center>
      <label for="email">Email</label>
      <input type="emal" class="form-control" id="email" name="email">
      </center>
    </div>
  </div>
  <div class="form-group">
  <center>
    <label for="password">Password</label>
    <input type="text" class="form-control" id="password" id="password" name="password">
    </center>
  <div class="form-group">
  </div>
  <center>
  <button type="submit" class="MainController.java">Enviar</button>
  </center>
  </font>
  </center>
</form>
             </div>
             </header>
       
    </body>
</html>